<a href="https://colab.research.google.com/github/premdub/mysql-selfmanaged/blob/main/mysql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [132]:
!sudo apt-get install python3-dev default-libmysqlclient-dev

Reading package lists... Done
Building dependency tree
Reading state information... Done
default-libmysqlclient-dev is already the newest version (1.0.4).
python3-dev is already the newest version (3.6.7-1~18.04).
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'sudo apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 12 not upgraded.

In [133]:
!pip install pymysql sqlalchemy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymysql in /usr/local/lib/python3.7/dist-packages (1.0.2)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (1.4.41)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy) (5.0.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy) (1.1.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy) (3.8.1)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy) (4.1.1)

In [107]:
from sqlalchemy import create_engine

In [134]:
MYSQL_HOSTNAME = '35.193.75.235'
MYSQL_USER = 'pdubey'
MYSQL_PASSWORD = 'prem4321'
MYSQL_DATABASE ='db1'

In [135]:
connect_string = f'mysql+pymysql://{MYSQL_USER}:{MYSQL_PASSWORD}@{MYSQL_HOSTNAME}/{MYSQL_DATABASE}'
connect_string

'mysql+pymysql://pdubey:prem4321@35.193.75.235/db1'

In [136]:
db = create_engine(connect_string)
db

Engine(mysql+pymysql://pdubey:***@35.193.75.235/db1)

In [138]:
import pandas as pd

In [137]:
brain_size_df = pd.read_csv("https://raw.githubusercontent.com/premdub/descriptives_scipy/main/data/brain_size.csv")
brain_size_df

   ;"Gender";"FSIQ";"VIQ";"PIQ";"Weight";"Height";"MRI_Count"
0          1;"Female";133;132;124;"118";"64.5";816932
1             2;"Male";140;150;124;".";"72.5";1001121
2           3;"Male";139;123;150;"143";"73.3";1038437
3            4;"Male";133;129;128;"172";"68.8";965353
4          5;"Female";137;132;134;"147";"65.0";951545
5            6;"Female";99;90;110;"146";"69.0";928799
6          7;"Female";138;136;131;"138";"64.5";991305
7             8;"Female";92;90;98;"175";"66.0";854258
8               9;"Male";89;93;84;"134";"66.3";904858
9           10;"Male";133;114;147;"172";"68.8";955466
10        11;"Female";132;129;124;"118";"64.5";833868
11         12;"Male";141;150;128;"151";"70.0";1079549
12          13;"Male";135;129;124;"155";"69.0";924059
13        14;"Female";140;120;147;"155";"70.5";856472
14          15;"Female";96;100;90;"146";"66.0";878897
15           16;"Female";83;71;96;"135";"68.0";865363
16        17;"Female";132;132;120;"127";"68.5";852244
17           18;"Male";100;96;102;"178";"73.5";945088
18         19;"Female";101;112;84;"136";"66.3";808020
19             20;"Male";80;77;86;"180";"70.0";889083
20                  21;"Male";83;83;86;".";".";892420
21            22;"Male";97;107;84;"186";"76.5";905940
22        23;"Female";135;129;134;"122";"62.0";790619
23          24;"Male";139;145;128;"132";"68.0";955003
24          25;"Female";91;86;102;"114";"63.0";831772
25          26;"Male";141;145;131;"171";"72.0";935494
26           27;"Female";85;90;84;"140";"68.0";798612
27          28;"Male";103;96;110;"187";"77.0";1062462
28           29;"Female";77;83;72;"106";"63.0";793549
29        30;"Female";130;126;124;"159";"66.5";866662
30        31;"Female";133;126;132;"127";"62.5";857782
31          32;"Male";144;145;137;"191";"67.0";949589
32           33;"Male";103;96;110;"192";"75.5";997925
33             34;"Male";90;96;86;"181";"69.0";879987
34           35;"Female";83;90;81;"143";"66.5";834344
35        36;"Female";133;129;128;"153";"66.5";948066
36          37;"Male";140;150;124;"144";"70.5";949395
37           38;"Female";88;86;94;"139";"64.5";893983
38             39;"Male";81;90;74;"148";"74.0";930016
39             40;"Male";89;91;89;"179";"75.5";935863

# Push dataset as a new table within real_df database. 
## push this dataset through this dataframe into the new database: read_df which exist on that IP and save it there. So anyone that have access can potentially query this information.

In [140]:
brain_size_df.to_sql ('brain_size_table', con=db, if_exists="replace")